#content,div#savedDiv
{
	box-shadow: 5px 10px 15px #e6e6e6
}
div#pagesList ul li,ul#merchantList li
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	transition-duration: .3s
}
div#savedDiv,table.generalSettings tr td
{
	padding: 10px
}
#radioMode,div#pagesList ul li
{
	display: inline-block
}
#content
{
	background: #fff;
	padding: 20px 40px
}
mark
{
	background-color: transparent;
	font-weight: bolder;
	font-size: 14px color:  #00598a
}
div#savedDiv,table.generalSettings tr td: first-child
{
	font-weight: 700
}
div#savedDiv
{
	color: #058605;
	width: 100%;
	background-color: #fff;
	margin-bottom: 15px;
	font-size: 11pt;
	font-family: inherit
}
#topTable
{
	width: 100%
}
#topTable td: last-child
{
	text-align: right
}
#topTable td
{
	vertical-align: middle
}
table.generalSettings
{
	margin: 30px
}
div#pagesList
{
	padding-left: 20px
}
div#pagesList ul li.selected
{
	box-shadow: 0 0 10px #0090e0;
	border: 1px solid #2eaff7;
	background-image: linear-gradient(#b8ebff,#86c8dc);
	color: #00506f
}
div#pagesList ul li
{
	margin: 5px;
	padding: 5px 10px;
	background: #eee;
	border: 1px solid #bbb;
	border-radius: 5px;
	user-select: none
}
div#pagesList>button,div#pagesList>input
{
	margin: 20px 10px
}
table#filtersTable td input
{
	width: 100%;
	margin: 0
}
table#filtersTable td
{
	padding: 40px
}
ul#merchantList li
{
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #d0d0d0;
	cursor: pointer;
	text-align: center;
	user-select: none
}
ul#merchantList li.selected
{
	background-color: #8db3d4
}
ul#merchantList
{
	height: 200px;
	overflow-y: auto;
	width: 200px;
	background-color: #f3f3f3;
	border: 1px solid #ccc;
	padding: 5px
}
ul#selectedMerchantList
{
	padding: 20px;
	border: 1px dashed #ccc
}
td#selectedMerchantCell h4
{
	margin-top: 0
}
ul#selectedMerchantList li
{
	padding: 10px 20px;
	margin: 0;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	text-align: center;
	background-color: #fff;
	box-shadow: 5px 5px 5px #eee;
	cursor: grab;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
div#soloAuto
{
	overflow-y: hidden;
	height: auto;
	transition-duration: .3s
}
span.iconCross
{
	padding: 5px;
	cursor: pointer;
	color: #980c0c;
	position: absolute;
	transform: translate(-17px,-5px)
}
@media screen and (max-width: 782px)
{
	label
	{
		line-height: 30px
	}

}
