@keyframes shake{
	0%,100%
	{
		transform:translateX(0);
		border-color:red}25%{transform:translateX(5px)
	}
	75%
	{
		transform:translateX(-5px)
	}
}
.animateWrongCreds
{
	animation:shake .3s infinite
}
div#wrongCreds
{
	display:none;
	color:#b52020;
}
div#login_window
{
	background: white;
	box-shadow: 5px 5px 15px #ccc;
	padding: 40px;
	width: 300px;
	text-align: center;
	position: absolute;
	left:0;
	right:0;
	margin: auto;
}
div#login_window p.title
{
	text-align: left;
	margin: 0;
	font-size: 20pt;
}
div#login_window p.subtitle
{
	margin-bottom: 30px;
	text-align: right;
}
form#TANLoginForm
{
	text-align: left;
}
form#TANLoginForm input 
{
    width: 100%;
    margin: 15px 0;
}

