div#navMenuOffset
{
	width:100%;
	display:block;
	height:50px
}
table#navMenu input,table#navMenu select
{
	width:100%
}
table#navMenu
{
	width:100%;
	position:absolute;
	left:0;
	top:-7px;
	background:#eee;
	border-bottom:1px solid #ccc;
	padding:0 20px
}
table#navMenu td
{
	width:1000px;
	padding:0 10px
}
td.navMenu_autoWidth
{
	width:auto;
	text-align:right
}
table#navMenu td#navMenu_arrowsCell
{
	width:300px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
div#navMenu_buttonOnOff
{
	display:block;
	width:35px;
	height:15px;
	background:#f5d3d3;
	border-radius:50px
}
div#navMenu_buttonOnOff:after
{
	content:'';
	width:23px;
	height:23px;
	border-radius:50px;
	transition-duration:.2s;
	display:block;
	position:relative;
	top:50%;
	left:50%;
	background:#e07676;
	box-shadow:0 0 10px #cc7b7b;
	transform:translate(-50%,-50%) translateX(-10px)
}
div#navMenu_buttonOnOff.active:after
{
	background:#3cc73c;
	box-shadow:0 0 10px #7bcc81;
	transform:translate(-50%,-50%) translateX(10px)
}
div#navMenu_buttonOnOff.active
{
	background:#c1e2c5
}
#navMenunextWord,#navMenuprevWord
{
	cursor:pointer;
	font-size:20px;
	padding:0 5px
}
mark.TANKeyWord.active
{
	background-color:orange
}
mark.TANKeyWord.current
{
	background-color:#00e2c3
}

